---
# Only the main Sass file needs front matter (the dashes are enough)
---

$black: #000000;
$white: #ffffff;
$highlight: #FF0038;
$grey: #363636;

// Import partials from `sass_dir` (defaults to `_sass`)
@import "mixins";
@import "base";

@font-face {
  font-family: 'Calibre';
  src: url('../fonts/Calibre-Medium.woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Calibre';
  src: url('../fonts/Calibre-Regular.woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Druk';
  src: url('../fonts/Druk-Medium-Web.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Druk-Medium-Web.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Druk-Medium-Web.woff2') format('woff2'),
       url('../fonts/Druk-Medium-Web.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

/*********************
LARGE VIEWING SIZE
*********************/
@media only screen and (max-width: 1240px) {

	@import "breakpoints/1240";

} // end of media query

/*********************
DESKTOP
*********************/
@media only screen and (max-width: 1030px) {

	@import "breakpoints/1030";

} // end of media query

/*********************
TABLET & SMALLER LAPTOPS
*********************/
@media only screen and (max-width: 768px) {

	@import "breakpoints/768";

} // end of media query

/*********************
MOBILE
*********************/
@media only screen and (max-width: 600px) {

	@import "breakpoints/600";

} // end of media query

/*********************
RETINA (2x RESOLUTION DEVICES)
*********************/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min--moz-device-pixel-ratio: 1.5),
       only screen and (min-device-pixel-ratio: 1.5) {

	@import "breakpoints/2x";

} // end of media query

/*********************
EXTRA LARGE VIEWING SIZE
*********************/
@media only screen and (min-width: 1600px) {

	@import "breakpoints/1600";

} // end of media query
