html, body {
  font-size: 23px;
}

#panel {
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

#navigation.load {
  animation-duration: 0;
}

// Wrapper
.wrapper {
  width: calc(100% - 6rem);
}

// Title
.title {
  .title-image {
    width: calc(((100% - (100%-6rem))/2) + (.833 * (100%-6rem)));
    //padding-bottom: 55%;

    &.even {
      margin-left: calc((100% - (100%-6rem))/2 + (.167 * (100%-6rem)));
    }
  }
}

// Navigation
#navigation {
  margin: 0;

  nav {
    position: relative;
    left: 0;
    padding: 1.5rem;
    box-sizing: border-box;
    margin: 0;
  }

  button {
    font-size: 1.2rem;
  }

  background-color: $black;
}

body {
  width: 100%;
  height: 100%;
}

#panel {
  background-color: $black;
}

#navigation.slideout-menu {
  position: fixed;
  left: initial;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 256px;
  overflow-y: auto;
  //-webkit-overflow-scrolling: touch;
  display: none;
}

.slideout-panel {
  position:relative;
  z-index: 1;
  will-change: transform;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open #navigation.slideout-menu {
  display: block;
}

// Menu
.menu-icon {
  position: fixed;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 999999;
  width: 28px;
  height: 26px;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
  outline: 0;
  display: block;

  img {
    width: 100%;
    //height: 100%;
  }

  .open-menu {
    display: block;
  }

  .close-menu {
    display: none;
  }
}

.slideout-open {
  .open-menu {
    display: none;
  }

  .close-menu {
    display: block;
  }
}
