// Navigation
header nav {
  left: calc((100% - 960px)/2 + (.833 * 960px) + (0.04 * 960px));
}

// Title
.title {
  .title-image {
    width: calc(((100% - 960px)/2) + (.833 * 960px));

    &.even {
      margin-left: calc((100% - 960px)/2 + (.167 * 960px));
    }
  }
}
