<button onclick="slideout.toggle()" class="menu-icon">
  <img class="open-menu" src="/images/icons/open-menu.svg">
  <img class="close-menu" src="/images/icons/close-menu.svg">
</button>

<header id="navigation" class="wrapper">
  <nav>
    <button onclick="goTo(body)" id="insight_strategy_link"  class="selected">I&S</button>
    <button onclick="goTo('#why')" id="why_link" >Why</button>
    <button onclick="goTo('#how')" id="how_link" >How</button>
    <button onclick="goTo('#experience')" id="experience_link" >Experience</button>
    <button onclick="goTo('#who')" id="who_link" >Who</button>
    <button onclick="goTo('#clients')" id="clients_link" >Clients</button>
    <button onclick="goTo('#contact')" id="contact_link" >Contact</button>
  </nav>
</header>
