html, body {
  font-size: 26px;
}

#container, #navigation {
  opacity: 1;
}

#container.load, #navigation.load {
  animation-name: load;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes load {
  from {
    @include translateY(0.75rem);
    opacity: 0;
  }
  to {
    @include translateY(0rem);
    opacity: 1;
  }
}

.disable-hover,
.disable-hover * {
  pointer-events: none !important;
}

body {
  background-color: $black;
  margin: 0;
  overflow-x: hidden;
}

#panel {
  padding-top: 6.5rem;
}

* {
  font-family: 'Calibre';
  color: $white;
  line-height: 1.07;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p em {
  color: $highlight;
  -webkit-font-smoothing: auto;
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: 'Druk';
  text-transform: uppercase;
  font-size: 6rem;
  font-weight: 400;
  line-height: 0.85;
  color: $highlight;
  margin: 0;
  @include grid-width(8);
  position: relative;
  z-index: 1;

  br { line-height: 0; }
}

.body {
  @include offset(2);
  @include grid-width(8);
  margin-top: 3rem;
  margin-bottom: 5rem;
  word-wrap:  break-word;

  a {
    text-decoration: none;
    transition: color .25s ease-in-out;

    &:hover {
      color: $highlight;
    }
  }
}

// Navigation
#navigation {
  position: fixed;
  z-index: 99999;
  left: calc((100% - 960px)/2 + (.833 * 960px) + (0.04 * 960px));
  @include grid-width(2);
  top: 6.5rem;

    button {
      color: $white;
      display: block;
      outline: 0;
      text-decoration: none;
      cursor: pointer;
      margin-bottom: 0.25rem;
      padding: 0;
      background-color: transparent;
      //background-color: $black;
      font-size: 1rem;
      border: none;
      transition: color .25s ease-in-out;

      &.selected {
        color: $highlight;
      }
    }
  }

.menu-icon {
  display: none;
}

.body a {
  margin-bottom: 0;
  display: inline-block;
}

  a {
    color: $white;
    display: block;
    outline: 0;
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 0.25rem;
  }

// Wrapper
.wrapper {
  margin: 0 auto;
  width: 960px;
}

// Title
.title {
  position: relative;

  h1 { position: absolute; }

  .title-image {
    display: block;
    //margin-top: -9rem;
    z-index: -1;
    width: calc(((100% - 960px)/2) + (.833 * 960px));
    height: auto;

    .title-image-inner {
      padding-bottom: 60%;
      overflow: hidden;
      position: relative;
      opacity: 0;
      transition: opacity .4s ease-in-out;
      background-color: #232323;

      &.fadein {
        opacity: 1;
      }
    }

    &.even {
      margin-left: calc((100% - 960px)/2 + (.167 * 960px));
    }

    img {
      height: auto;
      width: 100%;
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }
}

#insight_strategy h1 {
  top: -3rem;
}

#why h1 {
  top: 50%;
  @include translateY(-50%);
}

#how h1 {
  top: 25%;
  @include translateY(-50%);
}

#experience h1 {
  top: 75%;
  @include translateY(-50%);
}

#who {
  margin-bottom: 6rem;

  h1 {
    bottom: 0;
    @include translateY(50%);
  }

  .portrait {
    @include offset(1);
    @include grid-width(6);
    padding-bottom: 48%;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

// Clients
.client-list {
  font-size: 0;
  padding: 0;

  li {
    vertical-align: top;
    font-size: 1rem;
    display: inline-block;
    width: calc(50% - 3%);
    margin-right: 6%;
    padding-top: .5rem;
    margin-bottom: .5rem;
    border-top: 1px solid $grey;

    &:nth-of-type(2n) {
      margin-right: 0;
    }
  }
}
